<div class="wrapper">
  <div class="page-wrapper">

  <!-- 
      <%# @messages.unread_replies.each do |unread| %>
        <li><h4><%#= link_to unread.subject, message_path(unread.id) %></h4></li>
        <%# end %> -->

    <!-- Nav Tab-->
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li role="presentation" class="active"> 
        <a href="#inbox" aria-controls="inbox" data-toggle="tab" role="tab">Inbox
        </a>
      </li>
      <li role="presentation">
        <a href="#sent" aria-controls="sent" data-toggle="tab" role="tab">
          Sent
        </a>
      </li>
      <li role="presentation">
        <a href="#unread" aria-controls="unread" data-toggle="tab" role="tab">
          unread
        </a>
      </li>
      <li role="presentation">
        <a href="#read" aria-controls="read" data-toggle="tab" role="tab">
          read
        </a>
      </li>
    </ul>

    <!-- Tab Content-->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="inbox">
        <table class="table table-striped table-advance table-hover">
          <tbody>
            <tr>
               <th>From</th>
               <th> Subject</th>
               <th>Date</th>
               <th>Action</th>
            </tr>

            <% @messages.each do |message| %>
              <tr>
                <td><%= message.message_sender_id %></td>
                <td><%= link_to message.subject, message_path(message.id)%></td>
                <td><%= message.created_at %></td>
                <td>
                  <div class="btn-group">
                    <a class="btn btn-success" href="#"><i class="fa fa-mail-reply"></i></a>
                    <a class="btn btn-danger"> <% link_to(message_path(message.id), method: :delete) %><span class ="fa fa-trash"></span></a>
                  </div>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
        <% if @messages.empty? %>
          You have no messages.
        <% end%>
      </div>

      <div role="tabpanel" class="tab-pane" id="sent">
        <table class="table table-striped table-advance table-hover">
          <tbody>
            <tr>
               <th>Sent To</th>
               <th>Subject</th>
               <th>Date</th>
               <th>Action</th>
            </tr>

            <% @sent_messages.each do |sent| %>
              <tr>
                <td><%= sent.message_receiver_id %></td>
                <td><%= link_to sent.subject, message_path(sent.id) %></td>
                <td><%= sent.created_at %></td>
                <td>
                  <div class="btn-group">
                    <a class="btn btn-success" href=""><i class="fa fa-mail-reply"></i></a>
                    <a class="btn btn-danger"> <% link_to(message_path(sent.id), method: :delete) %><span class ="fa fa-trash"></span></a>
                  </div>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
        <% if @sent_messages.empty? %>
          You have not yet sent any messages.
        <% end%>
      </div>

      <div role="tabpanel" class="tab-pane" id="unread">
        <table class="table table-striped table-advance table-hover">
          <tbody>
            <tr>
               <th>From</th>
               <th>Subject</th>
               <th>Date</th>
               <th>Action</th>
            </tr>

            <% @unread.each do |unread| %>
              <tr>
                <td><%= unread.message_sender_id %></td>
                <td><%= link_to unread.subject, message_path(unread.id) %></td>
                <td><%= unread.created_at %></td>
                <td>
                  <div class="btn-group">
                    <a class="btn btn-success" href="#"><i class="fa fa-mail-reply"></i></a>
                    <a class="btn btn-danger"> <% link_to(message_path(unread.id), method: :delete) %><span class ="fa fa-trash"></span></a>
                  </div>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
      <% if @unread.empty? %>
          You have no unread messages.
        <% end%>
      </div>

      <div role="tabpanel" class="tab-pane" id="read">
        <table class="table table-striped table-advance table-hover">
          <tbody>
            <tr>
               <th>From</th>
               <th>Subject</th>
               <th>Date</th>
               <th>Action</th>
            </tr>

            <% @read.each do |read| %>
              <tr>
                <td><%= read.message_sender_id %></td>
                <td><%= link_to read.subject, message_path(read.id) %></td>
                <td><%= read.created_at %></td>
                <td>
                  <div class="btn-group">
                    <a class="btn btn-success" href="#"><i class="fa fa-mail-reply"></i></a>
                    <a class="btn btn-danger"> <% link_to(message_path(read.id), method: :delete) %><span class ="fa fa-trash"></span></a>
                  </div>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
        <% if @read.empty? %>
          You have no messages to see.
        <% end%>
      </div>
    </div>
  </div>
</div>