<div class= "wrapper">
  <h2><%= @message.subject %></h2>
  from <%= name_parent_profile(@message.message_sender_id)%>
  <h3><%= sanitize @message.message_body %></h3>
  <hr />
  <% @replies.each do |reply| %>
  <%= sanitize reply.reply_body %>
  <hr />
  <% end %> 
  <%= link_to("Reply", new_reply_path(message_id: @message.id), class: "btn btn-warning btn-lg") %>
</div>