<div class ="wrapper"> 
	<div class ="page-wrapper">
		<div>
  		<div>
				
				<div class="col-md-4">
          <div class="panel" >
         		<div class="panel-body">
              <div>
            		<img class="img-responsive"
								<%= image_tag @profile.image.url(:medium) %>
								<h1><%= @profile.name %></h1>
								<p> <%= @profile.bio %></p>
		            <%= link_to("Message", new_message_path(message_receiver_id: @profile.id), class: "btn btn-primary btn-large")%>
                <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">Add Content</button>
							</div>
						</div> 
          </div>
      	  <div class= "profile-content" id="albums"> 
            <!-- div appening photo albums -->  
            <ul id= "albums_list">

            </ul>
          </div>
        </div>
    		<div class="col-md-7" id="content">
          <div class= "profile-content" id="playlists"> 
            <!-- div appending playlists into -->
					  <% @playlists.each do |list| %>
              <%= render partial: 'playlists/iframe', locals: { playlist: list } %>
              <%= link_to playlist_path, method: :destroy %>
            <% end %>
          </div>
				</div>
        <!-- the end of the thing -->
			</div>
		</div>
  </div>
</div>

      <!-- form thing for the playlist -->
          <!-- Playlist Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">
  Add Content
</button> -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
     <!--    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
     <button type="button" class="btn btn-default pull-right" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Content</h4>
      </div>
      <div class="modal-body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Instructions</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Playlists</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Albums</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
              <div class="playlist_instructions">
                <h3>Adding a playlist</h3>
                <h4>From Youtube</h4>
                <ol>
                  <li>Find the video from YouTube.com</li>
                  <li>Copy the URL from the top of the page. <strong>Hint:</strong> You can highlight and right click to copy(command click if you're a Mac user).</li>
                  <li>Paste the URL link into our form.</li>
                  <li>Click Save Playlist</li>
                </ol>
                <h4>From SoundCloud</h4>
                <ol>
                  <li>Find the playlist you want to share.</li>
                  <li>Click the <strong>share</strong> button.</li>
                  <li>Highlight and copy their link.</li>
                  <li>Paste that link into our form.</li>
                  <li>Click Save Playlist</li>
                </ol>
              </div>
              <hr id="instruction_hr">
              <div class="playlist_instructions">
                <h3>Adding a photo album</h3>
                <p>Steps on adding a photo album</p>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="messages">
              <form id="new_playlist_form" class= "input-lg">
                <h4>Playlist Url</h4>
                <input type="text" name="playlist_url", id="playlist_url" required="true" />
                <br>
                <button type="button" id="new_playlist_button" class= "btn btn-primary">Save Playlist</button>
              </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
              <form action="/albums" method:'POST' id="new_album_form" class= "input-lg">
                <h4>Album Name</h4>
                <input type="text" name="album_name" id="album_name" required="true" />
                <br>
                <button type="button" id="new_album_button" class= "btn btn-primary">Save Album</button>
              </form>
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>       

