<div class ="wrapper"> 
	<div class ="page-wrapper">
		<div>
  		<div>
				
				<div class="col-md-4">
          <div class="panel box">
         		<div class="panel-body">
              <div>
            		<div class="img-responsive">
								<%= image_tag @profile.image.url(:medium) %>
								</div>
								<h1><%= @profile.name %></h1>
								<p> <%= @profile.bio %></p>

								<% if @profile.musician.present? %>
									<%= render 'musicians_partial' %>
								<% elsif @profile.visual_artist.present? %>
									<%= render 'visual_artists_partial' %>
								<% elsif @profile.venue_rep.present? %>
								  <%= render 'venue_reps_partial' %>
								<% else %>
									<%= render 'no_info_partial' %>
								<% end %>

		            <%= link_to("Message #{@profile.name}", new_message_path(message_receiver_id: @profile.id), class: "btn btn-primary btn-large")%>

							</div>
						</div> 
          </div>
      	</div>

    		<div class="col-md-7" id="content">
          <div class="well text-center"> 
					  <p>put content here</p>
          </div>
				</div>

			</div>
		</div>
  </div>
</div>

                  
                 
