<div class=wrapper>
	<div class="page-wrapper">
		<div class="col-lg-12">
		  <section class="panel">
	      <div class="panel-heading">
	          New Reply
	      </div>
	      <div class="panel-body">
				  <div class= "col-xs-12 col-md-8-offset-2">
				  	<h4>To: <%= reply_to(params[:message_id])%></h4>
					  <%= form_for @reply do |f| %>
						  <h4><%= f.cktext_area :reply_body %></h4>
						  <%= f.hidden_field :message_id, value: params[:message_id] %> 
						  <%= f.submit "Send", class: "btn btn-warning" %>
					  <% end %>
					</div>
				 </div>
		  	</section>
			</div>
		</div>
  </div>
</div>