<link href='http://fonts.googleapis.com/css?family=Fjalla+One|Cantarell:400,700' rel='stylesheet' type='text/css'>

<div class="events_background">
	<div class="container">
		<div class="wrapper">
			<section class="panel">
				<div class="panel-heading">
					New Event
				</div>
			<div class="panel-body">
				<%= form_for @event, html: {multipart: true} do |f| %>
					<h4>Image:</h4>
					<p><%= f.file_field(:image)%></p>
					<p><%= f.text_field(:event_name, class: "form-control", placeholder: "Event name")%></p>

					<p><%= f.date_select(:event_date)%></p>

					<p><%= f.text_field(:start_time, class: "form-control", placeholder: "Time (ex. 5:30pm)")%></p>

					<p><%= f.text_field(:event_venue, class: "form-control", placeholder: "Venue")%></p>

					<p><%= f.text_field(:event_address, class: "form-control", placeholder: "Address")%></p>

					<p><%= f.text_field(:tickets, class: "form-control", placeholder: "Tickets")%></p>
				
					<p><%= f.text_area(:event_desc, class: "form-control", placeholder: "Description")%></p>
					

					<a><%= f.submit("Submit", class: "btn btn-primary")%></a>
				<%end%>
			</div>
		</div>
	</section>
	</div>
</div>