
<section id="uber_background">
	<div class="container wrapper">
		<div>
			<div class="row white-text">
				<div class="col-md-4">
				  <h2><%= image_tag @event.image.url(:medium) %></h2>
				</div>
				<div class="col-md-8">
						<ul>
							<li><h1><b><%= @event.event_name %></b></h1></li>
							<h4>
								<li>
								 	<%= @event.event_date.strftime("%d %B, %Y") %>
									| <%= @event.start_time %>
								</li><br>
								<li><span class="fa fa-home"></span>&nbsp; &nbsp; &nbsp;<%= @event.event_venue %><br></li>
								<li><span class="fa fa-location-arrow"></span>&nbsp; &nbsp; &nbsp;<%= @event.event_address %><br></li>
								<li><span class="fa fa-money"></span>&nbsp; &nbsp; &nbsp;<%= @event.tickets %><br></li>
							</h4>
						</p>
							<li><h3><%= @event.event_desc %></h3></li>
						</ul>
				</div>
			</div>
			<div class="row">
				<a class="nav_tags"><%= link_to("Back", events_path) %></a>
				<a class="nav_tags"><%= link_to("Edit", edit_event_path(@event.id)) %></a>
				<a class="nav_tags"><%= link_to("Delete", event_path(@event.id), method: :delete) %></a>
				<a class="nav_tags"><%= link_to("Add another event", new_event_path) %></a>
			</div>
		</div>

	</div>
</section>
