<div class ="wrapper"> 
  <div class ="page-wrapper">
    <div>
      <div>
        <div class=".col-md-8">
          <section class="panel" >
            <div class="panel-heading">
              "<%=@album.album_name%>" by <%= find_parent_profile(@album.profile_id).name %>
            </div>
            <div class="panel-body">
            <% if @album.profile_id == current_user.profile.id %>
              <div>
                <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">Add Photo</button>
              </div>
            <%end%>
            <br>
            <div id="content">
              <div class= "profile-content" id="playlists">
                <div class="row">
                  <% if @album.photos.present? %>
                  <div>
                      <% @album_photos.each do |photo| %>
                      <div class="col-xs-4">
                        <%= image_tag photo.image.url(:medium), class: "img-responsive col-xs-8-offset-2" %>
                        <%# raise "" %>
                        <% if current_user.id == photo.user_id %>
                        <%= link_to 'Delete', photo_path(photo.id), method: :delete, class: 'fa fa-fw fa-ban' %>
                        <% end %>
                      </div>
                      <% end %>
                  </div>
                  <% else %>
                    <div></div>
                  <% end %>
                </div>
            </div>
          </div>
        </section> 
      </div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a Photo</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
           <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">instructions</a></li>
           <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" value= <%= @album.id %>>Photos</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">
            <h3>Adding a Photo</h3>
            <ol>
              <li>Click the <strong>browse button</strong></li>
              <li>Choose the photo you want to upload</li>
              <li>Click Save Photo</li>
            </ol>
          </div>
          <div role="tabpanel" class="tab-pane" id="profile">
            <%= render partial: 'photos/photo_form', locals: { photos: @photo } %>
          </div>
        </div>                   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>