
<div class="wrapper">
	Advanced Search
	<%= form_for @search, html: {class:"pure-form"} do |f| %>
		<div> 
			<%= f.label :keywords %>
			<%= f.text_field :keywords %>
		</div>

		<div> 
			<%= f.label :instrument %>
			<%= f.text_field :instrument %>
		</div>

		<div> 
			<%= f.label :genre %>
			<%= f.text_field :genre %>
		</div>

		<div> 
			<%= f.label :medium %>
			<%= f.text_field :medium %>
		</div>

		<%= f.submit "Search" %>
	<%end%>
</div>